<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>METARMAP Einstellungen</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-10 col-xl-8 mx-auto">

            <div class="mt-3">
                {% if form.is_submitted() %}
                {% for field, errors in form.errors.items() %}
                    <div class="alert alert-danger" role="alert">
                        {{ form[field].label }}: {{ ', '.join(errors) }}
                    </div>
                {% endfor %}
                {% endif %}
            </div>

            <h5 class="h5 mb-4 mt-4">Hier kannst Du Deine METAR Karte konfigurieren und individuell einstellen. Sobald Du auf speichern klickst, startet das System mit den geänderten Einstellungen neu.</h5>
            <div class="my-4">
                <nav>
                    <div class="nav nav-tabs" role="tablist">
                        <button class="nav-link active" id="wlan-tab" data-bs-toggle="tab" data-bs-target="#wlan" type="button" role="tab" aria-controls="wlan" aria-selected="true">WLAN</button>
                        <button class="nav-link" id="version-tab" data-bs-toggle="tab" data-bs-target="#version" type="button" role="tab" aria-controls="version" aria-selected="false">Version</button>
                        <button class="nav-link" id="farben-tab" data-bs-toggle="tab" data-bs-target="#farben" type="button" role="tab" aria-controls="farben" aria-selected="false">Farben</button>
                        <button class="nav-link" id="wind-tab" data-bs-toggle="tab" data-bs-target="#wind" type="button" role="tab" aria-controls="wind" aria-selected="false">Wind</button>
                        <button class="nav-link" id="zeiten-tab" data-bs-toggle="tab" data-bs-target="#zeiten" type="button" role="tab" aria-controls="zeiten" aria-selected="false">Zeiten</button>
                        <button class="nav-link" id="flugplaetze-tab" data-bs-toggle="tab" data-bs-target="#flugplaetze" type="button" role="tab" aria-controls="flugplaetze" aria-selected="false">Flugplätze</button>
                        <button class="nav-link" id="update-tab" data-bs-toggle="tab" data-bs-target="#update" type="button" role="tab" aria-controls="update" aria-selected="false">Update</button>
                    </div>
                </nav>
                <form id="einstellungen" method="POST" action="" novalidate>

                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="wlan" role="tabpanel" aria-labelledby="wlan">
                            <div class="alert alert-info mt-3" role="alert">
                              Die METAR Karte benötigt zwingend eine WLAN-Verbindung, um die neusten Wetterinformationen abzurufen. Bitte gib daher hier Deine WLAN-Daten ein. Wenn Du auf speichern klickst und das System neu startet, dann versucht es sich mit dem hier eingestellten WLAN zu verbinden. Wenn es das nicht kann, dann wird nach einiger Zeit automatisch wieder der Hotspot aktiviert und Du kannst die Einstellung hier nochmal ändern.
                            </div>
                            <div class="form-group col-12 mt-2">
                                {{ form.form_ssid.label }}
                                {{ form.form_ssid() }}
                            </div>
                            <div class="form-group col-12 mt-2">
                                {{ form.form_passwort.label }}
                                {{ form.form_passwort() }}
                            </div>
                        </div>
                        <div class="tab-pane fade" id="version" role="tabpanel" aria-labelledby="version">
                            <div class="alert alert-info mt-3" role="alert">
                              Hier kannst Du einstellen, ob Du die GAFOR oder die amerikanische Version der Karte hast. Dadurch kannst Du Dich auch jederzeit für die andere Version entscheiden. Die Auswahl hier hat Auswirkungen auf die verfügbaren Einstellungen im Tab Farben und Wind.
                            </div>
                            <div class="form-group col-12 mt-2">
                                {{ form.form_version.label }}
                                {{ form.form_version(**{"onchange": "handleVersion()"}) }}
                            </div>
                        </div>
                        <div class="tab-pane fade" id="farben" role="tabpanel" aria-labelledby="farben">
                            <div class="form-row">
                                <div id="farben-gafor">
                                    {% for ind in FARBEN_GAFOR %}
                                        <div class="form-group col-6 mt-2 p-2">
                                            {{ form.__dict__["form_" + ind].label }}
                                            {{ form.__dict__["form_" + ind]() }}
                                        </div>
                                    {% endfor %}
                                </div>
                                <div id="farben-amerikanisch">
                                    {% for ind in FARBEN_AMERIKANISCH %}
                                        <div class="form-group col-6 mt-2 p-2">
                                            {{ form.__dict__["form_" + ind].label }}
                                            {{ form.__dict__["form_" + ind]() }}
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="form-group col-12 mt-2 p-2">
                                    {{ form.form_helligkeit.label }}
                                    {{ form.form_helligkeit(min=0.1, max=1, step=0.1) }}
                                    <p class="text-center" id="anzeige">{{ form.form_helligkeit.data }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="wind" role="tabpanel" aria-labelledby="wind">
                            <div class="form-group col-12 mt-2">
                                {{ form.form_normal.label }}
                                {{ form.form_normal() }}
                            </div>
                            <div class="form-group col-12 mt-2" id="hoch-wrapper">
                                {{ form.form_hoch.label }}
                                {{ form.form_hoch() }}
                            </div>
                            <div class="form-group col-12 mt-2">
                                {{ form.form_frequenz.label }}
                                {{ form.form_frequenz() }}
                            </div>
                        </div>
                        <div class="tab-pane fade" id="zeiten" role="tabpanel" aria-labelledby="zeiten">
                            <div class="form-group col-12 mt-3">
                                {{ form.form_dauerbetrieb.label }}
                                {{ form.form_dauerbetrieb() }}
                            </div>
                            <div class="form-group col-12 mt-2">
                                {{ form.form_an.label }}
                                {{ form.form_an() }}
                            </div>
                            <div class="form-group col-12 mt-2">
                                {{ form.form_aus.label }}
                                {{ form.form_aus() }}
                            </div>
                        </div>
                        <div class="tab-pane fade" id="flugplaetze" role="tabpanel" aria-labelledby="flugplaetze">
                            <div class="alert alert-info mt-3" role="alert">
                              Über diese Liste kann die Reihenfolge der Flugplätze festgelegt werden. Am besten Du lässt die Liste so wie sie ist. Nur falls Du z.B. einen Flugplatz nicht anzeigen lassen möchtest, dann kannst Du ihn durch "NULL" ersetzen. Allgemein kannst Du hier aber viel kaputt machen: Wenn Du z.B. einen Flugplatz hinzufügst dann verschieben sich alle Flugplätze um 1 und die LEDs leuchten womöglich nicht mehr an der richtigen Stelle. "NULL" bedeutet, dass die jeweilige LED am Strang nicht leuchtet.<br>An einigen Stellen steht schon "NULL", weil der LED Strang alle 5cm eine LED hat, die Bohrungen aber weiter auseinanderliegen und daher manche LEDs nicht leuchten sollen.
                            </div>
                            <div class="form-group col-12 mt-2">
                                {{ form.form_flugplaetze.label }}
                                {{ form.form_flugplaetze(rows=config.flugplaetze | length, class_="textarea-height") }}
                            </div>
                        </div>
                        <div class="tab-pane fade" id="update" role="tabpanel" aria-labelledby="update">
                            <div class="alert alert-info mt-3" role="alert">
                                Hier kannst Du die Quelle des Updates wählen. Wenn Du sichergehen willst, dass Du die aktuellste Version hast, dann wähle "main". Die anderen Quellen sollten nur nach Rücksprache mit dem Support gewählt werden.
                            </div>
                            <div class="form-group col-12 mt-2">
                                {{ form.form_update.label }}
                                {{ form.form_update() }}
                            </div>
                        </div>
                    </div>

                    <div class="container text-center">
                      <div class="row">
                        <div class="col-sm-4">
                            <button type="reset" class="btn btn-primary btn-full mt-4">Einstellungen zurücksetzen</button>
                        </div>
                        <div class="col-sm-4">
                            <button type="button" class="btn btn-secondary btn-full mt-4" id="standard">Einstellungen auf Standardwerte zurücksetzen</button>
                        </div>
                        <div class="col-sm-4">
                            <button type="submit" class="btn btn-success btn-full mt-4">Speichern und Neustart</button>
                        </div>
                      </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
<script src="{{ url_for('static', filename='js/bootstrap.bundle.js') }}"></script>

<script>
    let button = document.querySelector("#standard");
    let formular = document.querySelector("#einstellungen")
    let dauerbetrieb = document.querySelector("#form_dauerbetrieb");

    button.addEventListener("click", function () {
        // Version auf GAFOR setzen
        let version = formular.elements["form_version"];
        version.value = "{{ standard.version }}";
        handleVersion();

        // GAFOR Farbsystem zurücksetzen
        {% for ind in FARBEN_GAFOR %}
        formular.elements["form_{{ ind }}"].value = "{{ standard.farben_gafor[ind] }}";
        {% endfor %}

        // Amerikanisches Farbsystem zurücksetzen
        {% for ind in FARBEN_AMERIKANISCH %}
        formular.elements["form_{{ ind }}"].value = "{{ standard.farben_amerikanisch[ind] }}";
        {% endfor %}

        // Wind zurücksetzen
        formular.elements["form_normal"].value = "{{ standard.wind.normal }}";
        formular.elements["form_hoch"].value = "{{ standard.wind.hoch }}";
        formular.elements["form_frequenz"].value = "{{ standard.wind.frequenz }}";

        // Helligkeit zurücksetzen
        formular.elements["form_helligkeit"].value = "{{ standard.helligkeit }}";

        // Zeiten zurücksetzen
        formular.elements["form_dauerbetrieb"].checked = false;
        handleZeiten();
        formular.elements["form_an"].value = "{{ standard.zeiten.an }}";
        formular.elements["form_aus"].value = "{{ standard.zeiten.aus }}";

        // Slider zurücksetzen
        document.querySelector("#anzeige").innerHTML = "0.5";
        document.querySelector("#form_helligkeit").value = "0.5";
        handleSlider();

        // Flugplätze zurücksetzen
        formular.elements["form_flugplaetze"].value = `{% for icao in standard.flugplaetze %}{% if not loop.last %}{{ icao | string + '\n' }}{% else %}{{ icao | string }}{% endif %}{% endfor %}`;
        formular.elements["form_flugplaetze"].rows = "{{ standard.flugplaetze | length }}"

    });

    formular.addEventListener("reset", function () {
        setTimeout(function() {
            handleVersion();
            handleZeiten();
          }, 1);
    });

    dauerbetrieb.addEventListener("change", handleZeiten);

    function handleSlider() {
        const slider = document.querySelector("#form_helligkeit");
        const output = document.querySelector("#anzeige");
        document.addEventListener("DOMContentLoaded", function() {
          output.innerHTML = slider.value;
        });

        document.addEventListener("reset", function() {
          output.innerHTML = "0.5";
        });

        slider.addEventListener("input", function () {
            output.innerHTML = this.value;
        });
    }

    function handleVersion() {
        var e = formular.elements["form_version"];
        var farbenGAFOR = document.getElementById("farben-gafor");
        var farbenAmerikanisch = document.getElementById("farben-amerikanisch");
        var hoherWind = document.getElementById("hoch-wrapper");

        if (e.value === "gafor") {

            farbenGAFOR.style.display = "initial";
            farbenAmerikanisch.style.display = "none";
            hoherWind.style.display = "none";

        } else if (e.value === "amerikanisch") {
            farbenAmerikanisch.style.display = "initial";
            farbenGAFOR.style.display = "none";
            hoherWind.style.display = "initial";
        }
        handleSlider();
    }

    function handleZeiten() {
      if (dauerbetrieb.checked) {
        document.getElementById("form_an").readOnly = true;
        document.getElementById("form_aus").readOnly = true;
      } else {
        document.getElementById("form_an").readOnly = false;
        document.getElementById("form_aus").readOnly = false;
      }
    }

    handleVersion();
    handleZeiten();
</script>
</html>