<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>METAR KARTE EINSTELLUNGEN</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-10 col-xl-8 mx-auto">
            {% if request.method == "POST" %}
                <div class="alert alert-dark mt-5" role="alert">
                  Die Einstellungen wurden gespeichert und das System startet jetzt neu. Daher wird das METAR WLAN jetzt ausgeschaltet und es wird versucht, eine Verbindung mit dem eingegebenen WLAN herzustellen. Sollte das nicht klappen, dann wird das METAR WLAN in ca. 2 Minuten wieder aktiv und du kannst die Einstellungen nochmal anpassen.
                </div>
            {% else %}
                <h5 class="h5 mb-4 mt-4">Hier kannst Du Deine METAR Karte konfigurieren und individuell einstellen. Sobald Du auf speichern klickst, startet das System mit den geänderten Einstellungen neu.</h5>
                <div class="my-4">
                <nav>
                    <div class="nav nav-tabs" role="tablist">
                        <button class="nav-link active" id="wlan-tab" data-bs-toggle="tab" data-bs-target="#wlan" type="button" role="tab" aria-controls="wlan" aria-selected="true">WLAN</button>
                        <button class="nav-link" id="farben-tab" data-bs-toggle="tab" data-bs-target="#farben" type="button" role="tab" aria-controls="farben" aria-selected="false">Farben</button>
                        <button class="nav-link" id="wind-tab" data-bs-toggle="tab" data-bs-target="#wind" type="button" role="tab" aria-controls="wind" aria-selected="false">Wind</button>
                        <button class="nav-link" id="zeiten-tab" data-bs-toggle="tab" data-bs-target="#zeiten" type="button" role="tab" aria-controls="zeiten" aria-selected="false">Zeiten</button>
                        <button class="nav-link" id="flugplaetze-tab" data-bs-toggle="tab" data-bs-target="#flugplaetze" type="button" role="tab" aria-controls="flugplaetze" aria-selected="false">Flugplätze</button>
                        <button class="nav-link" id="update-tab" data-bs-toggle="tab" data-bs-target="#update" type="button" role="tab" aria-controls="update" aria-selected="false">Update</button>
                    </div>
                </nav>
                <form id="einstellungen" method="POST" action="/">
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="wlan" role="tabpanel" aria-labelledby="wlan">
                            <div class="alert alert-danger mt-3" role="alert">
                              Die METAR Karte benötigt zwingend eine WLAN-Verbindung, um die neusten Wetterinformationen abzurufen. Bitte gib daher hier Deine WLAN-Daten ein. Wenn Du auf speichern klickst und das System neu startet, dann versucht es sich mit dem hier eingestellten WLAN zu verbinden. Wenn es das nicht kann, dann wird nach einiger Zeit automatisch wieder der Hotspot aktiviert und Du kannst die Einstellung hier nochmal ändern.
                            </div>
                            <div class="form-group col-12 mt-2">
                                <label for="ssid">SSID (Name) *</label>
                                <input required type="text" class="form-control" id="ssid" name="ssid" value="{{ config.wlan.ssid }}">
                            </div>
                            <div class="form-group col-12 mt-2">
                                <label for="passwort">WLAN Passwort *</label>
                                <input required type="password" class="form-control" id="passwort" name="passwort" value="{{ config.wlan.passwort }}">
                            </div>
                        </div>
                        <div class="tab-pane fade" id="farben" role="tabpanel" aria-labelledby="farben">
                            <div class="form-row">
                                {% for ind in ("vfr", "vfr_bei_wind", "mvfr", "mvfr_bei_wind", "ifr", "ifr_bei_wind", "lifr", "lifr_bei_wind", "blitze", "hoher_wind") %}
                                    <div class="form-group col-6 mt-2 p-2">
                                        <label for="{{ ind }}">{{ ind.replace('_', ' ') }}</label>
                                        <input type="color" name="{{ ind }}" id="{{ ind }}" value="{{ config.farben[ind] }}" class="form-control input-lg">
                                    </div>
                                {% endfor %}
                                <div class="form-group col-12 mt-2 p-2">
                                    <label for="helligkeit">Helligkeit</label>
                                    <input autocomplete="off" type="range" min="0.1" max="1" name="helligkeit" id="helligkeit" value="{{ config.farben.helligkeit }}" step="0.1" class="form-control input-lg">
                                    <p class="text-center" id="anzeige"></p>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="wind" role="tabpanel" aria-labelledby="wind">
                            <div class="form-group col-12 mt-2">
                                <label for="normal">Wind Blinken ab (kt)</label>
                                <input type="number" min="1" class="form-control" id="normal" name="normal" value="{{ config.wind.normal }}">
                            </div>
                            <div class="form-group col-12 mt-2">
                                <label for="hoch">Hoher Wind Blinken ab (kt)</label>
                                <input type="number" min="2" class="form-control" id="hoch" name="hoch" value="{{ config.wind.hoch }}">
                            </div>
                            <div class="form-group col-12 mt-2">
                                <label for="frequenz">Frequenz des Blinkens (sek)</label>
                                <input type="number" min="1" class="form-control" id="frequenz" name="frequenz" value="{{ config.wind.frequenz }}">
                            </div>
                        </div>
                        <div class="tab-pane fade" id="zeiten" role="tabpanel" aria-labelledby="zeiten">
                            <div class="form-group col-12 mt-2">
                                <label for="an">Einschalten (z.B. 8 = 08:00 Uhr früh)</label>
                                <input type="number" min="1" max="24" class="form-control" id="an" name="an" value="{{ config.zeiten.an }}">
                            </div>
                            <div class="form-group col-12 mt-2">
                                <label for="aus">Ausschalten (z.B. 20 = 20:00 Uhr abends)</label>
                                <input type="number" min="1" max="24" class="form-control" id="aus" name="aus" value="{{ config.zeiten.aus }}">
                            </div>
                        </div>
                        <div class="tab-pane fade" id="flugplaetze" role="tabpanel" aria-labelledby="flugplaetze">
                            <div class="alert alert-danger mt-3" role="alert">
                              Über diese Liste kann die Reihenfolge der Flugplätze festgelegt werden. Am besten Du lässt die Liste so wie sie ist. Nur falls Du z.B. einen Flugplatz nicht anzeigen lassen möchtest, dann kannst Du ihn durch "NULL" ersetzen. Allgemein kannst Du hier aber viel kaputt machen: Wenn Du z.B. einen Flugplatz hinzufügst dann verschieben sich alle Flugplätze um 1 und die LEDs leuchten womöglich nicht mehr an der richtigen Stelle. "NULL" bedeutet, dass die jeweilige LED am Strang nicht leuchtet.<br>An einigen Stellen steht schon "NULL", weil der LED Strang alle 5cm eine LED hat, die Bohrungen aber weiter auseinanderliegen und daher manche LEDs nicht leuchten sollen.
                            </div>
                            <div class="form-group col-12 mt-2">
                                <textarea autocomplete="off" name="flugplaetze" rows="{{ config.flugplaetze | length }}" style="width: 100%;">{% for icao in config.flugplaetze %}{% if not loop.last %}{{ icao | string + "\n" }}{% else %}{{ icao | string }}{% endif %}{% endfor %}</textarea>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="update" role="tabpanel" aria-labelledby="update">
                            <div class="alert alert-danger mt-3" role="alert">
                              Am besten Du lässt "kein Update" stehen, wenn alles funktioniert. Generell solltest Du hier nur etwas machen, wenn es bei Dir Probleme gibt und ich Dir den korrekten Branch genannt habe.<br>Die Idee hinter dieser Einstellungsmöglichkeit ist nur, dass Du mich bei Problemen in der Software kontaktierst, ich das Problem löse, Dir den branch nenne und dann kannst Du hier die neue Version herunterladen.
                            </div>
                            <div class="form-group col-12 mt-2">
                                <label for="update-branch">Branch</label>
                                <select class="form-control" id="update-branch" name="update-branch">
                                    <option selected="selected">kein Update</option>
                                    <option value="master">master</option>
                                    <option value="dev">dev</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <button type="reset" class="btn btn-primary mt-4">Einstellungen zurücksetzen</button>
                    <button type="button" class="btn btn-secondary mt-4" id="standard">Einstellungen auf Standardwerte zurücksetzen</button>
                    <button type="submit" class="btn btn-success mt-4">Speichern und Neustart</button>
                </form>
            </div>
            {% endif %}
        </div>
    </div>
</div>

</body>
<script>
    const button = document.querySelector("#standard");
    let formular = document.querySelector("#einstellungen")
    button.addEventListener("click", function () {
        {% for ind in ("vfr", "vfr_bei_wind", "mvfr", "mvfr_bei_wind", "ifr", "ifr_bei_wind", "lifr", "lifr_bei_wind", "blitze", "hoher_wind") %}
        formular.elements["{{ ind }}"].value = "{{ standard.farben[ind] }}";
        {% endfor %}
        formular.elements["normal"].value = "{{ standard.wind.normal }}";

        formular.elements["hoch"].value = "{{ standard.wind.hoch }}";

        formular.elements["frequenz"].value = "{{ standard.wind.frequenz }}";

        formular.elements["an"].value = "{{ standard.zeiten.an }}";

        formular.elements["aus"].value = "{{ standard.zeiten.aus }}";

        document.querySelector("#anzeige").innerHTML = "0.5";
        document.querySelector("#helligkeit").value = "0.5";

        formular.elements["flugplaetze"].value = `{% for icao in standard.flugplaetze %}{% if not loop.last %}{{ icao | string + '\n' }}{% else %}{{ icao | string }}{% endif %}{% endfor %}`;
        formular.elements["flugplaetze"].rows = "{{ standard.flugplaetze | length }}"

    });
</script>
<script>
    const slider = document.querySelector("#helligkeit");
    const output = document.querySelector("#anzeige");
    document.addEventListener("DOMContentLoaded", function() {
      output.innerHTML = slider.value;
    });

    document.addEventListener("reset", function() {
      output.innerHTML = "0.5";
    });

    slider.addEventListener("input", function () {
        output.innerHTML = this.value;
    });
</script>
<script src="{{ url_for('static', filename='js/bootstrap.bundle.js') }}"></script>
</html>